<mat-toolbar class="navbar-class">
  <button mat-icon-button (click)="onSideNavButtonClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Iyen Store</span>
  <button mat-icon-button (click)="onHomeButtonClick()">
    <mat-icon>home</mat-icon>
  </button>
  <mat-form-field class="search-bar" subscriptSizing="dynamic">
    <input matInput type="search" [(ngModel)]="searchString" (keyup.enter)="onSearch()">
    <button matSuffix mat-icon-button aria-label="Search" (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>mail</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
