@use '@angular/material' as mat;

.navbar-class {
  display: flex;
  gap: 4px;
}

.search-bar {
  flex: 1;
  min-width: 160px;

  .mat-mdc-text-field-wrapper {
    @include mat.form-field-density(-3);

    & {
      border-radius: var(--mat-sys-corner-full);
      width: 100%;
    }
  }
}
